#quote-box {
  width: auto;
  background-color: $secondary-color;
  // color: $primary-color;
  padding: 25px 50px;
  margin: auto;
  border-radius: 5px;
  font-weight: 400;
  font-size: 1.75em;
}

#quote-author {
  text-align: right;
}
